
<div class= "row">
  <div class="col-xs-6" id=gCont>
      <div [hidden]="!chart">
          <canvas id="canvas"></canvas>
          <canvas id="canvasY"></canvas> 
          <canvas id="canv"></canvas>
          
        </div>
  </div>
  <div id="legend" class="col-xs-6">
      <div class="col-xs-2">
          <div *ngFor="let icon of icons" >
            <img id = "icon" src="{{icon}}" >
          </div>
        </div>
      
        <div class="col-xs-10">
            <div *ngFor="let label of cLabels">{{label}}</div>
          </div>
  </div>
  
</div>