
#gCont{
    position: relative;
}
#canvas{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
#canv{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

#icon{
    width: 15px;
}
#legend{
    top:20px;
}